.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  background-image: linear-gradient(to bottom right, red, yellow);
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 25px;
  opacity: .7;
  height: 500px;
}

p, h1, h2, h3, h4, h5, h6, a, div {
  color: black;
  font-family: 'Coiny', cursive;
}

p, a, div, button, input, h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px #999;
}

p::first-letter{
  background-color: black;
  color: #FFF;
  font-size: 24px;
  font-style:normal;
  display: inline-block;
  padding: 0 5px;
  border-radius: 3px;
  margin-right: 2px;
  font-family: serif;
}

.container p{
  -moz-columns:3;
  -webkit-columns:3;
  columns:3;
  text-align: left;
}

.columns {
  overflow-y: scroll;
}

button {
  background-color: tan;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 10px 10px;
  border: 5px solid gray;
}

button:hover {
  background-color: lightblue;
}

.product-img {
  width: 80%;
  height: 150px;
  border-radius: 25px 25px 0px 0px;
}

.btn {
  background-color: #777;
  color: black;
}

.navbar {
  background-color: #999;
  opacity: .99;
  margin-bottom: 2px;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  right: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
